@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}
<<<<<<< HEAD
=======

jio-navbar {
  position: fixed;
  padding-top: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
>>>>>>> ead986c (initial commit)
